{% extends "tarefas/layout.html" %}

{% block style %}
 
{% endblock style %}


{% block main %}
      
<h3>Lista de Tarefas:</h3>

    {% for tarefa in tarefas  %}
      <div class="tarefa">

        <div>
          {{ tarefa }}
        </div> 

        <div>
          <a href="{% url 'edita' tarefa.id %}">
            <button>Edita</button>
          </a>        
        </div>
      </div>
    {% endfor %}

<a href="{% url 'nova' %}">
    <button id="nova">Nova tarefa</button>
</a>

{% endblock main %}